@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Music Store</h1>
    <h3>Encuentra a los mejores artistas y sus discos en un solo lugar</h3>
    <img id="FotoLogoSpotify" src="https://cdn.prod.website-files.com/630e13ca92151d578bc2ed8b/65d8d0ab27b5206d441e7517_Large%20(Hero)%20(18).png" alt="Imagen Logo Spotify">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/eH8t7ZQQaNg?si=DCPMubJvsazUXFyM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
